<div class="container-fluid">
  <div class="row padded text-center">
    <h1>Cocktails</h1>
  </div>
  <% @cocktails.each do |cocktail|%>
    <div class="row text-center padding-text">
      <%= cocktail.name %>
      <br><br>
      <%= link_to("show me the details", cocktail_path(cocktail))%>
    </div>
  <%end%>
  <%= link_to("Add a new cocktail", new_cocktail_path())%>

</div>




